<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.telecomlille.mydrone"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ControllerActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"/>

        <receiver android:name=".MainActivity$WifiStateChangedReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".JoystickActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"/>
        <activity
            android:name=".accelerometer.AccelerometerActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"/>
        <activity
            android:name=".path.PathControlActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"/>

        <activity
            android:name=".recognition.RecognitionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"/>

    </application>

</manifest>